#wrapper {
    margin: 1em auto;
    width: 960px;
    text-align: center;
  }
  
#myCarousel {
    margin-bottom: 10px;
    --f-progress-color:#201d1d ;
  }

#myCarousel img{
    width: 855px;
    height: 200px;
    object-fit: cover;
}

#myCarousel .f-carousel__slide {
    padding: 10px;
    background: #201d1d;
}

.menu{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    margin: 40px 200px;
}

figure{
    width: 100%;
    margin: 0;
}

figure a{
    text-decoration: none;
    display: block;
    color: #E2DEDE;
    font-family: monospace, Arial, Helvetica, sans-serif;
    text-align: center;
}

figure img{
    margin: 0;
    width: 100%;
    object-fit: contain;
}

figure a:hover{
    text-decoration: underline;
}

figure img:hover {
    filter: brightness(50%);
    transition: all .3s;
    box-shadow: 8px 8px 0px 2px #000000;
  }
 
figure:hover {
    transform: scale(1.05);
    transition: all .3s;
  }


  #about{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 20px;
}

.pfp{
    margin: 0px 50px;
    padding: 10px;
    object-fit: contain;
    grid-column: span 1;
}

.pfp img{
    width: 420px;
    border-radius: 50%;
}

.aboutspan{
    grid-column: span 2;
}

.spantwo{
    grid-column: span 2;
}

.spanthree{
    grid-column: span 3;
}

.aboutspan h3{
    text-shadow: 6px 4px 0px #000000;
    font-weight: bold;
    font-size: 3em;
}

#grid{
    margin: 0px 13px;
    display: grid;
    grid-gap: 13px;
    grid-template-columns: repeat(3,1fr);
}

#grid img{
    margin: 5px 0px;
    width: 100%;
}

.column1{
    grid-column: span 1;
}

#classgrid{
    margin: 10px 50px;
    grid-row-gap: 30px;
    display: grid;
    grid-gap: 13px;
    grid-row-gap: 50px;
    grid-template-columns: repeat(3,1fr); 
}


.class{
    grid-column: span 1;
}

.spantwo img{
    width: 20%;
}


.class h3{
    margin: 20px 0px 0px 0px;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 6px 4px 0px #000000;
}

.class h4{
    margin: 0px 0px 20px 0px;
    font-size: 20px;
    font-weight: normal;
}
p{
    font-size: 20px;
}

.spantwo h5{
    margin-bottom: 0;
    font-size: 25px;
}

footer{
    grid-template-columns: repeat(2,1fr);
 }

footer h4{
    margin: 20px 0px 0px 0px;
    font-size: 20px;
}

footer p{
    margin: 0px 0px 20px 0px;
}